<div class="card my-4">
    <div class="card-header text-center">
        <h3><a href="/">CRUD USER WEBAPP</a></h3>
    </div>
</div>
<div class="text-center">
    <a class="btn btn-primary" href="/users/addPage">ADD </a>
    <a class="btn btn-primary" href="/users/list">LIST</a>
</div>