.md-form .prefix~select {
    margin-left: 3rem;
    width: 92%;
    width: -webkit-calc(100% - 3rem);
    width: calc(100% - 3rem);
}

.limit-char {
    max-width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.inactiveLink {
    pointer-events: none;
    cursor: default;
}

.inactiveLink:hover {
    border: 1px solid red !important;
}